<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pkgbuilderproj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Tools</string>
			<key>CFBundleTypeName</key>
			<string>PackageBuilder Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.abracode.packagebuilder.project</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>PackageBuilder</string>
	<key>CFBundleIconFile</key>
	<string>Tools</string>
	<key>CFBundleIconName</key>
	<string>Tools</string>
	<key>CFBundleIdentifier</key>
	<string>com.abracode.packagebuilder</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PackageBuilder</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>PackageBuilder</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>packagebuilder</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.6</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>PackageBuilder sends AppleEvents to other apps to provide functionality unique to this applet.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PackageBuilder Project</string>
			<key>UTTypeIconFile</key>
			<string>Tools</string>
			<key>UTTypeIdentifier</key>
			<string>com.abracode.packagebuilder.project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pkgbuilderproj</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
